################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cireson.Connectors.Project.Adapter/bin/Debug
Cireson.Connectors.ProjectConnector/Cireson.Connectors.Project.Adapter/obj/
Cireson.Connectors.ProjectConnector/Cireson.Connectors.Project.ConsoleTasks/obj/
Cireson.Connectors.ProjectConnector/Cireson.Connectors.Project.Helpers/obj/
Cireson.Connectors.ProjectConnector/Cireson.Connectors.Project.WPF/obj/
Cireson.Connectors.ProjectConnector/Cireson.Connectors.Project.Workflows/obj/
