################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cireson.Connectors.Project.Adapter/bin/Debug
